gradio==3.13.2
moviepy==1.0.3
imagehash==4.2.1
pandas==1.3.5
faiss-cpu==1.7.2
Pillow==9.3.0
kats==0.2.0
seaborn==0.12.0
scipy==1.10.0
pytube==12.1.0
pytube3==9.6.4
# Pin older version of packaging to fix issue in kats:
packaging==21.3 
